<h1 class="pb-4">Write Your Blog</h1>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/blogs">My Blogs</a></li>
    </ol>
</nav>
<div class="container mt-3">
    <form action="/update/<%= blogs._id  %>/blog" method="post" enctype="multipart/form-data">
         <div class="mb-3">
            <label for="title" class="form-label"></label>
            <input type="text" class="form-control" value="<%= blogs.name  %>"name="title" id="title" placeholder="title">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label"></label>
            <input type="text" class="form-control" value="<%= blogs.email  %>"  name="email" id="email" placeholder="email">
        </div>    
        <br>
        <div class="form-floating">
            <textarea type="text" class="form-control" placeholder="content" value="<%= blogs.content %>" name="content"></textarea>
            <label for="content"></label>
        </div>
        <div class="form-floating">
            <input type="file" class="form-control" placeholder="image file name.." id="Image" name="Image">
            <label for="Image"></label>
            <img src="/<%= blogs.Image %>" alt="image" width="100" class="img-thumbnail mt-1"/>
        </div>
        <div class="mb-3">
            <label for="references" class="form-label"></label>
            <input type="text" class="form-control"  name="references" value="<%= blogs.references  %>"  placeholder="reference">
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </div>
    </form>
</div>