<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof title !='undefined' ? title: 'My BLOG' %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container-xxl mh-100 px-md-5 bg-white shadow-lg">
        <% if(message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                <strong>
                    <%= message.message %>
                </strong>
            </div>
            <% } %>
                <header
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-docoration-none">
                        <img src="https://revenuearchitects.com/wp-content/uploads/2017/02/Blog_pic-1030x584.png"
                            width="229" height="68" alt="My-blog" />
                    </a>
                    <ul class="nav col-12 col-md-auto mb-2 justify-contetnt-center mb-md-0">
                        <li>
                            <a href="/" class="nav-link px-2 link-sencondary">Home</a>
                        </li>
                        <%if(locals._id){%>
                            <li>
                                <a href="#" class="nav-link px-2 link-sencondary">
                                    <%= locals.name %>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #fff; border-color:#fff; border-radius: 50px; padding: 0px; --bs-btn-color: black;">
                                        <img src="<%= locals.Image %>" width="50" height="50" class="img-thumbnail" style="border-radius: 80px; padding: 0%;" />
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a href="blog" class="dropdown-item"><i
                                                    class="bi bi-pencil-square"></i>Write</a></li>
                                        <li><a href="/profile/<%=locals._id %>" class="dropdown-item"><i
                                                    class="bi bi-journal-text"></i>profile</a></li>
                                        
                                        <li><a href="/blogs" class="dropdown-item"><i class="bi bi-journals"></i>All</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a href="/users" class="dropdown-item">Admin</a></li>
                                        <li><a href="/logout" class="dropdown-item">Log Out</a></li>
                                    </ul>
                                </div>
                            </li>

                            <% } else {%>
                                <li>
                                    <a href="/login" class="nav-link px-2 link-sencondary">Login</a>
                                </li>
                                <li>
                                    <a href="/add" class="nav-link px-2 link-sencondary">Signup</a>
                                </li>
                                <% } %>

                    </ul>
                </header>

                <main>
                    <%- body -%>
                </main>


                <footer class="py-5">
                    <p>Build by yonatan</p>
                </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.js"></script>

</body>

</html>